article{
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  left: 0px;
  overflow: hidden;
}

#front{
  position: absolute;
  width: 100px;
  height: 100px;
  background: orange;
  left: 0;
  top: 0;
  -webkit-transform: scale(0.5);
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: linear;
  -webkit-transition-property: -webkit-transform;
}
#front.animate{
  /*left: 1px;*/
  /*box-shadow: 1px 1px 1px black;*/
  /*-webkit-animation: 500ms anim forwards;*/
  -webkit-transform: scale(1);
}
article.animate{
  background: yellow;
  /*left: 1px;*/
}