*{
  -webkit-transform: translate3d(0, 0, 0);
  position: relative;
  /*z-index: 1;*/
  /*overflow: hidden;*/
}
article{
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  left: 0px;
  overflow: hidden;
  height: 200px;
  width: 500px;
}

#front{
  position: absolute;
  width: 100px;
  height: 100px;
  background: orange;
  left: 0;
  top: 0;
  -webkit-transform: scale(0.5);
  -webkit-transition: -webkit-transform 500ms, box-shadow 600ms;
}
#front.animate{
  /*left: 1px;*/
  /*box-shadow: 1px 1px 1px black;*/
  /*-webkit-animation: 500ms anim forwards;*/
  -webkit-transform: scale(1);
  /*left: 1px;*/
  box-shadow: 1px 1px 0 transparent;
}
article.animate{
  background: yellow;
  /*left: 1px;*/
}